<% if flash[:error] %>
  <span class="error_message"><%= flash[:error] %></span>
<% end %>
<%= simple_form_for @contract do |f| %>
  <%= f.input :responsable, label: 'Responsável' %>
  <%= f.input :deadline, label: 'Prazo', as: :text %>
  <%= f.association :customer, label: 'Cliente' %>
  <%= f.association :equipment, label: 'Equipamentos', as: :check_boxes %>
  <%= f.input :amount, label: 'Valor do Contrato' %>
  <%= f.input :delivery_address, label: 'Endereço de Entrega' %>
  <%= f.submit 'Emitir Contrato' %>
<% end %>
