<section id="contract">
  <h1>Contrato: <%= @contract.id %> </h1>

  <p>
    <strong> Funcionário Responsável: </strong>
    <%= @contract.responsable %>
  </p>
  <p>
    <strong> Prazo: </strong>
    <%= l @contract.deadline, format: :super_short %>
  </p>
  <p>
    <strong> Cliente: </strong>
    <%= @contract.client %>
  </p>
  <p>
    <strong> Equipamentos: </strong>
    <ul>
      <% @contract.equipment.each do |equipment| %>
        <li><%= equipment.name%></li>
      <% end %>
    </ul>
  </p>
  <p>
    <strong> Valor Total: </strong>
    <%= @contract.amount %>
  </p>
  <p>
    <strong> Endereço de Entrega: </strong>
    <%= @contract.delivery_address %>
  </p>
  <p>
    <strong> Data de Criação: </strong>
    <%= @contract.created_at %>
  </p>
</section>
<section>
  <%= link_to 'Emitir Recibo de Entrega', contract_receipts_path(@contract),
       method: :post %>
</section>
