<% if flash[:error] %>
  <span class="error_message"><%= flash[:error] %></span>
<% end %>
<%= simple_form_for(@customer, html: {class: 'form-horizontal'},
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>
  <%= f.input :company_name, label: 'Razão Social' %>
  <%= f.input :cnpj, label: 'CNPJ' %>
  <%= f.input :contact_name, label: 'Contato' %>
  <%= f.input :tel, label: 'Telefone' %>
  <%= f.input :contact_email, label: 'Email' %>
  <%= f.input :billing_address, label: 'Endereço de Cobrança' %>
  <%= f.submit 'Cadastrar Cliente' %>
<% end %>
