<h1>Recibo de Entrega</h1>
<p>
Eu, <strong><%= @receipt.contract.responsable %></strong> , em nome da empresa
<strong><%= @receipt.contract.customer.name %></strong>, inscrita no CNPJ:
<strong><%= @receipt.contract.customer.cnpj %></strong>, declaro ter recebido os equipamentos:
<% @receipt.contract.equipment.each do |equipment|  %>
  <strong><%= equipment.name %></strong>
  <strong><%= equipment.serial_number %></strong>,
<% end %>
pelo período de: <strong><%= @receipt.contract.rental_period %> </strong>dias
em perfeitas condições de uso no endereço:
<strong><%= @receipt.contract.delivery_address %></strong>
de acordo com o contrato: <strong><%= @receipt.contract.id %></strong>.
</p>

<p>
_____________________________<br />
Assinatura do Responsável
</p>
