<!DOCTYPE html>
<html>
  <head>
    <title>Rentequip</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class='navbar navbar-inverse'>
      <div class='container-fluid'>
        <div class='navbar-header title-logo'>
          <%= link_to 'Rentequip', root_path %>
        </div>
        <div class='collapse navbar-collapse'>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Emitir Novo Contrato', new_contract_path %> </li>
            <li><%= link_to 'Cadastrar Novo Cliente', new_customer_path %> </li>
            <li><%= link_to 'Contratos', contracts_path %> </li>
            <li><%= link_to 'Equipamentos',equipment_index_path %> </li>
            <li><%= link_to 'Cadastrar Novo Preço', new_price_path %> </li>
            <li><%= link_to 'Preços', prices_path %> </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
